h2 {
  font-size: 16vw;
  text-align: center;
  font-family: courier new;
  max-width: 400px;
}
h1 {
  font-family: sans-serif;
  
}
nav {
  background-color: DarkGreen;
  text-align: center;
  color: white;
}
img {
  width: 100%;
}
