header {
  background-image: url(tausta.png);
  text-align: center;
  min-height: 70px ;
}
nav {
  background-color: DarkGreen;
  text-align: center;
  color: white;
  font-family:courier new;
  min-heigth: 20 px;
}
.pingviini {
  heigth: 80px ;
  width: 80px ;
  float: left;
}
h2 {
  color: White;
  font-size: 60px;
  font-family: courier new;
}

h1 {
  font-family: sans-serif;
  
}

video {
 max-width: 100%; 
}

@media only screen and (max-width: 1080px) {
  body {
    img {
      width: 100%;
    }
    video {
      width: 100%; 
    }
}


  }
}
@media only screen and (min-width: 1081px) {
  body {
    img {
      width: 50%;
    }
    video {
      width: 50%;
    }
}


  }

}

.keskitä {
  text-align: center;
}
.made-with-vim {

  width:80px;
  height:60px;
}
@media (prefers-color-scheme: light) {
    a {
  color: black;
    }
  
    body {
        background-color: white;
        color: black;
    }
    h2 {
        color: black;
        font-size: 60px;
        font-family: courier new;
        text-shadow: 2px 2px #006400;
    }
     
}
@media (prefers-color-scheme: dark) {
    a {
  color: white;
    }  
    body {
        background-color: black;
        color: white;
    }
    h2 {
      color: White;
      font-size: 60px;
      font-family: courier new;
    }
}

}
h3 {
  font-family: sans-serif;
}
h4 {
  font-family: sans-serif;
}
